/*--
Imports
--*/
@import "compass";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "mixins";
@import "vars";


/*--
Tags
--*/
body, html{ font-size: 62.5%; }

body{
	background: #FFF;
	line-height: 1.4em;
	color: $globalFontColor;
	@include rem(font-size, 1.6);
	@include rem(line-height, 1.4);
	font-family: "Helvetica, Arial";
}

a{
	text-decoration: none;
}

h1, h2{
	font-weight: bold;
	font-size: $globalFontSize;
	@include rem(font-size, 1.4);
}

p{
	margin-bottom: 10px;
}

strong{
	font-weight: bold;
}

/*--
Classes
--*/
.hide{
	display: none;
}


/*--
Layout
--*/


/*--
Breakpoints
--*/
@include respond-to($mobile){

}

@include respond-to($tablet){
	
}

@include respond-to($desktop){
	
}
