<!doctype html>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>
	
	<title><%= appname %></title>

	<link rel="shortcut icon" href="/favicon.ico">
	
	<!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="assets/styles/main.css" />
    <!-- endbuild -->

	<script src="bower_components/modernizr/modernizr.js"></script>
	
</head>
<body>

	<div id="wrap">
		<h1>Congrats! Your <%= appname %> project is ready</h1>
	</div>

	<!-- build:js assets/scripts/main.js -->
    <!-- bower:js -->
	<!-- endbower -->
    <script src="assets/scripts/util.js"></script>
	<script src="assets/scripts/main.js"></script>
	<!-- endbuild -->
</body>
</html>