<!doctype html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title><%= appname %></title>

	<link rel="shortcut icon" href="/favicon.ico">

	<!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- endbuild -->

</head>
<body>

	<div id="wrap">
		<h1>Congrats! Your <%= appname %> project is ready</h1>
	</div>


	<!-- build:js js/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/scripts.js -->
	<script src="js/scripts.js"></script>
	<!-- endbuild -->
</body>
</html>