<!doctype html>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>
	
	<title><%= appname %></title>

	<link rel="shortcut icon" href="/favicon.ico">

	<!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- endbuild -->

</head>
<body>

	<div id="wrap">
		<h1>Congrats! Your <%= appname %> project is ready</h1>
	</div>

	<!-- build:js js/plugins.min.js -->
    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <!-- endbuild -->

    <!-- build:js js/scripts.js -->
	<script src="js/scripts.js"></script>
	<!-- endbuild -->
</body>
</html>