/*--
Imports
--*/
@import "compass";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "customMixins";
@import "vars";


/*--
Tags
--*/
body{
	color: $fontColor;
	background: #FFF;
	font: 14px/16px "Helvetica, Arial";
}

a{
	text-decoration: none;
}

h1, h2{
	font-size: $standardFontSize;
	font-weight: bold;
	line-height: 26px;
}

p{
	margin-bottom: 10px;
}

strong{
	font-weight: bold;
}

/*--
Classes
--*/
.hide{
	display: none;
}


/*--
Layout
--*/
